/* width=comprimento */
/* height=altura */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    position: absolute;
    width: 100vw!important;
    max-width: 100vw!important;
    height: 100vh!important;
    display: flex;
    flex-direction: column;
}


.navbar.navbar-expand-sm.bg-dark.navbar-dark{
    width:  100vw;     
}

.container{    
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collapse.navbar-collapse.justify-content-end{
    background-color: #000000;
    color: #000000;
    background: #000000;
}

.navbar.navbar-expand-sm.bg-dark.navbar-dark{
    color: #000000;
    background-color: #000000!important;
    background: #000000;
}

.nav.navbar.navbar-expand-sm.bg-dark.navbar-dark{
    background: #000000;
}

.bg-dark {
    background-color: #000000!important;
}

.nav{
    background: #000000;
    background-color: #000000;
}

.nav-item{
    margin-right: 1em!important;
}