body{
    background-color: #a3c0ec!important;
}

.created-by{
    position: fixed;
    display: flex;
    top: 95%;
    left: 1%;
}

input[type="date" i] {
    border-radius: 5em;
    border: outset;
    border-color: #050f2c;
    color: #68c2cd;
    filter: drop-shadow(0 0 0.4em rgba(0, 173, 254));
}

input[type="submit" i] {
    border-radius: 5em;
    border: outset;
    border-color: #050f2c;
    color: #68c2cd;
    filter: drop-shadow(0 0 0.4em rgba(0, 173, 254));
}

.p-Daniel {
    filter: drop-shadow(0 0 0.4em rgba(0, 173, 254));
    color: #ffffff;
}

p,
h1{
    color: #000000;
}